<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="../css/all.min.css">

    <!-- Custome CSS -->
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../Restaurants/style.css">

</head>

<body>
    <!-- Top Navbar -->
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Alimento</a>
    </nav>

    <!-- Side Bar -->
    <div class="container-fluid mb-5 " style="margin-top:40px;">
        <div class="row">
            <nav class="col-sm-2 bg-light sidebar py-5 d-print-none">
                <div class="sidebar-sticky h-100">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class=<% if(title === "Profile") { %> "active <% } else { %> " <% } %> nav-link"
                                href="/profile">
                                <i class="fas fa-user"></i>
                                Profile <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class=<% if(title === "All Dishes") { %> "active <% } else { %> " <% } %> nav-link"
                                href="/dishes">
                                <i class="fab fa-accessible-icon"></i>
                                All dishes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class=<% if(title === "Add Dish") { %> "active <% } else { %> " <% } %> nav-link"  href="/adddish">
                                <i class="fas fa-align-center"></i>
                                Add dish
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class=<% if(title === "Orders") { %> "active <% } else { %> " <% } %> nav-link" 
                                href="/orders">
                                <i class="fas fa-key"></i>
                                All Orders
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class= <% if(title === "Change Password") { %> "active <% } else { %> " <% } %> nav-link" 
                                href="/changepassword">
                                <i class="fas fa-key"></i>
                                Change Password
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>