<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="./css/all.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->


    <style>
    .custom-margin {
        margin-top: 8vh;
    }
    </style>
    <title>Reset Password</title>
</head>

<body>
    <div class="mb-3 text-center mt-5" style="font-size: 30px;">
        <i class="fas fa-utensils"></i>
        <span>Alimento</span>
    </div>
    <p class="text-center" style="font-size: 20px;"> <i class="fas fa-user-secret text-danger"></i> <span>Reset Password</span>
    </p>
    <div class="container-fluid mb-5">
        <div class="row justify-content-center custom-margin">
            <div class="col-sm-6 col-md-4">
                <form class="shadow-lg p-4" method="POST" onsubmit="return checkForm()">
                    <% if(message == 'Success') { %>
                        <div class="form-group">
                            <div class="alert alert-success" role="alert">
                                Password changed successfully. Try to login using your new password.
                            </div>
                        </div>
                    <% } %>
                    <% if(message == 'Internal error') { %>
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert">
                                An internal error occured. Please try again later.
                            </div>
                        </div>
                    <% } %>  
                    <% if(message == 'Not exist') { %>
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert">
                                No registered user found. Kindly enter your registered email id.
                            </div>
                        </div>
                    <% } %>  
                    <div class="form-group">
                        <i class="fas fa-key"></i><label for="pass" class="pl-2 font-weight-bold">Password</label><input
                            type="password" class="form-control" placeholder="Password" name="password" minlength="8" required>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-key"></i><label for="spass" class="pl-2 font-weight-bold">Re enter Password</label><input
                            type="password" class="form-control" placeholder="Password" name="spassword" minlength="8" required>
                    </div>
                    <button type="submit"
                        class="btn btn-outline-danger mt-3 btn-block shadow-sm font-weight-bold">Change Password</button>
                </form>
                <div class="text-center"><a class="btn btn-info mt-3 shadow-sm font-weight-bold"
                        href="/">Back
                        to Home</a></div>
            </div>
        </div>
    </div>
    <div id="pageMessages">

    </div>
    <!-- Boostrap JavaScript -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/all.min.js"></script>

</body>
<script>
function createAlert(title, summary, details, severity, dismissible, autoDismiss, appendToId) {
var iconMap = {
    info: "fa fa-info-circle",
    success: "fa fa-thumbs-up",
    warning: "fa fa-exclamation-triangle",
    danger: "fa ffa fa-exclamation-circle"
};

var iconAdded = false;

var alertClasses = ["alert", "animated", "flipInX"];
alertClasses.push("alert-" + severity.toLowerCase());

if (dismissible) {
    alertClasses.push("alert-dismissible");
}

var msgIcon = $("<i />", {
    "class": iconMap[severity] // you need to quote "class" since it's a reserved keyword
});

var msg = $("<div />", {
    "class": alertClasses.join(" ") // you need to quote "class" since it's a reserved keyword
});

if (title) {
    var msgTitle = $("<h4 />", {
    html: title
    }).appendTo(msg);
    
    if(!iconAdded){
    msgTitle.prepend(msgIcon);
    iconAdded = true;
    }
}

if (summary) {
    var msgSummary = $("<strong />", {
    html: summary
    }).appendTo(msg);
    
    if(!iconAdded){
    msgSummary.prepend(msgIcon);
    iconAdded = true;
    }
}

if (details) {
    var msgDetails = $("<p />", {
    html: details
    }).appendTo(msg);
    
    if(!iconAdded){
    msgDetails.prepend(msgIcon);
    iconAdded = true;
    }
}


if (dismissible) {
    var msgClose = $("<span />", {
    "class": "close", // you need to quote "class" since it's a reserved keyword
    "data-dismiss": "alert",
    html: "<i class='fa fa-times-circle'></i>"
    }).appendTo(msg);
}

$('#' + appendToId).prepend(msg);

if(autoDismiss){
    setTimeout(function(){
    msg.addClass("flipOutX");
    setTimeout(function(){
        msg.remove();
    },1000);
    }, 5000);
}
}
    function checkForm(){
     var form = document.forms[0];
     var ppass = (form.querySelector('input[name="password"]')).value;
     var spass = (form.querySelector('input[name="spassword"]')).value;
     console.log(ppass, spass);
     if(ppass === spass)
     {
        return true;
     }
    //  alert("Both password should be same!");
    createAlert('Something went wrong! ','Both password should be same!','','danger',true,false,'pageMessages');
     return false;
}
</script>
</html>