.img-jumbo {
    margin-top: 8px;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url('../images/jumbo.jpg');
    background-size: 100%, 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.checked {
    color: orange;
  }